.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 34px;
  justify-content: center;
  padding-top: 30px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
