.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 34px;
  justify-content: center;
  padding-top: 30px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}


@media (max-width: 1023px) and (min-width: 768px) {
.movie-list {
 justify-content: center;
}
}


@media (max-width: 767px) {
.header-search {
justify-content: center;

}
}